<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>WebS</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- GetWords.java 으로 이동 -->
  <servlet>
  	<servlet-name>GetWords</servlet-name>
  	<servlet-class>get.GetWords</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>GetWords</servlet-name>
  	<url-pattern>/GetWords</url-pattern>
  </servlet-mapping>
  
 <!-- PostImages.java로 이동 --> 
  <servlet>
  	<servlet-name>PostImages</servlet-name>
  	<servlet-class>post.PostImages</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>PostImages</servlet-name>
  	<url-pattern>/PostImages</url-pattern>
  </servlet-mapping>
</web-app>